/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("img/background.jpg");
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.payment-box {
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.payment-options {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.option {
    display: flex;
    align-items: center;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.2s ease;
    position: relative;
}
